.header-wrapper{
    position: relative;
    width: 100%;
    height: 50px;
}
.header{
    height: 50px;
    width: 100%;
    background: black;
    line-height: 50px;
    /* overflow: hidden; */
    position: fixed;
    z-index: 100;
}
.header-content{
    width: 1370px;
    height: 100%;
    margin: 0 auto;
}
.header-logo{
    width: 163px;
    height: 21.59px;
    float: left;
    margin: 5px 0;
}
.header-logo a{
    width: 100%;
    height: 100%;
    display: inline-block;
    background: url(https://image.converse.com.cn/images/commons/header-footer-new3.png)
    no-repeat;
}
.box-headerbox{
    height: 100%;
    display:inline-block;
    zoom:1;
    float:right;
}
.box-headerbox a,.box-headerbox span{
    height: 100%;
    padding-right: 33px;
    margin: 0 15px 0 32px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.icon-box::before{
    background-image: url(https://image.converse.com.cn/images/commons/sprites_header_footer.png);
    background-color: transparent;
    background-repeat: no-repeat;
    color: white;
    height: 31px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
    line-height: 30px;
    display: block;
    content: "";
    margin-left: -15px;
}
.help-button::before{
    background-position: -169px -161px;
}
.help-button:hover::before{
    background-position: -167px -1px;
}
.search-button::before{
    background-position: -137px -161px;
}
.search-button:hover::before{
    background-position: -135px -1px;
}
.chat-button::before{
    background-position: -95px -54px;
}
.chat-button:hover::before{
    background-position: -135px -33px;
}
.header-shopcarts{
    float: right;
    padding-right: 33px;
    margin-left: 15px;
    margin-right: 45px;
    position: relative;
}
.header-shopcarts a{
    color: #fff;
    font-size: 12px;
    display: inline-block;
}
.header-shopcarts a:hover{
    text-decoration: underline #ddd;
}
.header-shopcarts span{
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 31px;
    background: url(https://image.converse.com.cn/images/commons/sprites_header_footer.png);
    background-position: -168px -97px;
    top: 11px;
    left: 60px;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 31px;
    cursor: default;
}
.login-register{
    padding-right: 33px;
    margin-right: 40px;
    float: right;
    position: relative;
    color: white;
    font-size: 12px;
    height: 100%;
}
.login-register span{
    cursor: pointer;
}
.login:hover,.register:hover{
    text-decoration: underline;
}
.login-register::after{
    content: "";
    width: 30px;
    height: 31px;
    position: absolute;
    background: url(https://image.converse.com.cn/images/commons/sprites_header_footer.png)
    no-repeat -96px -85px;
    background-color: transparent;
    top:11px;
    left: 70px;
}
.login-register:hover::after{
    background-position: -136px -65px
}
.search-content{
    width: 100%;
    height:40px;
    /* overflow: hidden; */
    margin: 0 auto;
    padding: 20px 0;
    position: absolute;
    display: none;
    background: #fff;
}
.search-content input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 24px;
    padding: 0 200px;
}
.search-button-content{
    height: 50%;
    position: absolute;
    top: 25%;
    right: 20%;
}
.btn{
    width: 32px;
    height: 32px;
    background-image: url(https://image.converse.com.cn/images/commons/sprites_header_footer.png);
    background-repeat: no-repeat;
    background-color: transparent;
    float: right;
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.close{
    background-position: -168px -129px;
}
.close:hover{
    background-position: -136px -129px;
}
.search{
    background-position: -136px -161px;
}
.search:hover{
    background-position: -134px -1px;
}
.nav-wrapper{
    width: 100%;
    background: #464646;
    height:30px;
    position: relative
}
.header-nav{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #464646;
    position: fixed;
    z-index: 99;
}
.header-nav ul {
    margin-left: 400px; 
}
.header-nav ul li{
    float: left;
    width: 110px;
    height:30px;
    text-align: center;
    padding: 0 12px;
}
.header-nav ul li a{
    color: white;
    padding-right: 5px;
}
/* .header-nav ul li a:hover{
    text-decoration: underline;
} */
.header-nav ul li i{
    border-color: white transparent transparent;
    border-right: 6px solid transparent;
    border-style: solid;
    border-width: 6px;
    width: 0;
    position: absolute;
    top: 50%;
}
.header-nav-second{
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: white;
    display: none;
}
.header-nav-second ul{
    max-width: 1000px;
    margin: 0 auto;
    height: 130px;
    overflow:hidden;
}
.header-nav-second ul li{
    float: left;
    width: 130px;
    height: 100%;
    position: relative;
}
.header-nav-second ul li img{
    width: 100%;
    height:100%;
}
.header-nav-second ul li span{
    width: 100px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
.content{
    width: 1000px;
    margin: 80px auto;
    position: relative;
}
.content>div{
    float: left;
}
.detail-product-img{
    width: 520px;
    margin-left: 240px;
    margin-right: 40px;
    position: relative;
    z-index: 12;
}
.namewrapper{
    position: absolute;
    top: 0;
    width: 100%;
    /* font-family: 黑体; */
}
.detail-product-img h1{
    width: 100%;
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 37px;
    font-weight: bold;
}
.product-price{
    text-align: center;
    width: 100%;
    line-height: 37px;
}
.product-price span{
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-right: 7px;
}
.product-img{
    width: 520px;
    height: 505px;
    position: relative;
}
.zoomPad{
    margin: 60px 35px 0;
    width: 450px;
    height: 450px;
    position: relative;
    float: left;
    z-index: 10;
    cursor: url(//image.converse.com.cn/images/detail/zoom-add.png) 12 12,crosshair;
}
.small-img-wrapper{
    width:450px;
    height: 450px;
}
.mask{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
}
.mouse-window{
    width: 56px;
    height:173px;
    background: #666;
    opacity: .2;
    position: absolute;
    z-index: 15px;
    top: 0;
    display: none;
}
.big-img-wrapper{
    width: 200px;
    height:510px;   
    border:1px solid #999;
    box-shadow: 0 0 5px #999;
    position: absolute;
    z-index: 15px;
    top: -60px;
    left: -300px;
    overflow: hidden;
    display: none;
    background: white;
}
.big-img-wrapper img{
    width: 1600px; 
    height: 1600px;
    position: absolute;
    z-index: 20;
}
.small-img-wrapper img{
    max-width: 100%;
}
.zoomPup{
    overflow: hidden;
    background-color: #FFF;
    -moz-opacity: .6;
    opacity: .6;
    filter: alpha(opacity = 60);
    position: absolute;
    border: 1px solid #CCC;
    z-index: 101;
    width: 23px;
    height: 23px;
}
.product-bottom-list{
    width: 100%;
    font-size: 0;
    text-align: center;
    margin-top: 22px;
}
.product-bottom-list span{
    font-size: 0;
    display: inline-block;
    zoom: 1;
    width: 70px;
    cursor: pointer;
    height: 70px;
    margin-left: 10px;
    position: relative;
    border: 2px solid transparent;
}
.product-bottom-list .active{
    border: 2px solid #999;
}
.product-bottom-list span:first-child{
    margin-left: 0;
}
.product-bottom-list span:hover{
    border: 2px solid #b7b7b7;
    box-shadow: 0 0 5px #999;
}
.product-bottom-list span img{
    width: 100%;
}
.product-description{
    margin-top: 20px;
    text-align: center;
}
.product-description p{
    font-size: 12px;
    text-align: left;
    line-height: 20px;
}
.product-description h3{
    font-size: 18px;
    text-align: left;
    margin-top: 40px;
    margin: 20px 0;
    font-weight: bold;
}
.learn-more-btn{
    height: 48px;
    width: auto;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: #000;
    display: inline-block;
    font-size: 16px;
    margin: 40px auto;
    cursor: pointer;
    padding: 0 84px;
    border: 1px solid #000;
}
.detail-tab-list{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
.tab-wrap:first-child{
    margin-top: 0;
}
.tab-wrap{
    margin-top: 30px;
}
.tab-title{
    height: 30px;
    width: auto;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    position: relative;
}
.tab-title:hover span{
    text-decoration: underline;
    color: #999;
}
.detail-tab-list i{
    background: url(https://image.converse.com.cn/images/detail/detail.png) no-repeat scroll 999px 999px transparent;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.detail-tab-list .share i{
    background-position: 0 0;
}
.detail-tab-list span{
    cursor: pointer;
}
.detail-tab-list span{
    float: left;
    text-indent: 40px;
}
.detail-tab-list .favorite i{
    background-position: 0 -43px;
}
.review-rating-stars{
    margin: 0 5px;
    background: url(https://image.converse.com.cn/images/detail/stars.png) repeat-x scroll 0 -30px transparent;
    width: 100px;
    height: 30px;
    overflow: hidden;
    position: relative;
}
.review-rating-stars span{
    background: url(../images/detail/stars.png) repeat-x scroll 0 0 transparent;
    width: 100px;
    height: 30px;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.detail-product-buy-wrap{
    float: left;
    width: 200px;
}
.other-product-list{
    font-size: 0;
}
.other-product-list a{
    width: 47px;
    height: 48px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 0;
    border: 1px solid transparent;
    margin-bottom: 10px;
    margin-right: 1px;
    position: relative;
}
.other-product-list a img{
    bottom: 5px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    left: 50%;
    position: absolute;
    vertical-align: bottom;
    width: 80%;
    margin-left: -40%;
}
.other-product-list a:hover{
    border: 1px solid #999;
}
.product-info{
    color: #333;
    font-size: 12px;
    line-height: 18px;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #b7b7b7;
    cursor: pointer;
}
.popup-btn{
    margin-top: 15px;
}
.popup-btn i{
    background: url(https://image.converse.com.cn/images/account/sprites_account.png) no-repeat scroll -10px -138px transparent;
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}
.popup-btn span{
    border-bottom: 2px solid #999;
    font-size: 14px;
}
.product-size-wrap{
    border: 0;
    padding: 20px 0 0 0;
}
.product-size-wrap p{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.product-select-msg{
    padding-top: 20px;
}
.product-select-msg .select-line{
    margin-top: 0;
    height: 30px;
}
.text-left{
    height: 30px;
    width: 90px;
    color: #333;
    font-size: 12px;
    line-height: 30px;
    float: left;
}
.text-right{
    position: relative;
    width: 98px;
    height: 28px;
    border: 1px solid #b7b7b7;
    float: right;
}
.text-right span{
    color: #333;
    font-size: 12px;
    text-align: center;
    display: block;
    height: 28px;
    line-height: 28px;
    width: 67px;
}
.text-right i{
    width: 30px;
    height: 28px;
    display: block;
    background: url(https://image.converse.com.cn/images/detail/detail.png) no-repeat scroll 11px -132px transparent;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #b7b7b7;
}
.product-select-num{
    margin-top: 20px;
    margin-bottom: 25px;
}
.product-select-num .select-line{
    margin-bottom: 5px;
    height: 30px;
    margin: 20px 0;
}
.product-select-num .text-right input{
    text-align: center;
    width: 63px;
    display: inline-block;
    zoom: 1;
    height: 26px;
    line-height: 26px;
    vertical-align: top;
}
.text-right select{
    width: 100%;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    font-family: "tradegothic";
}
.now-buy-btn{
    font-size: 16px;
    color: #fff;
    display: block;
    background-color: #940000;
    font-weight: bold;
    text-align: center;
    height: 50px;
    width: 200px;
    line-height: 50px;
    cursor: pointer;
    margin-bottom: 2px;
}
.now-buy-btn span{
    display: inline-block;
    zoom: 1;
    height: 40px;
    position: relative;
}
.add-cart-btn{
    font-size: 16px;
    color: #fff;
    display: block;
    background-color: #940000;
    font-weight: bold;
    text-align: center;
    height: 50px;
    width: 200px;
    line-height: 50px;
    cursor: pointer;
}
.add-cart-btn span{
    display: inline-block;
    zoom: 1;
    height: 40px;
    position: relative;
    text-indent: 30px;
}
.add-cart-btn span i{
    background: url(https://image.converse.com.cn/images/detail/detail.png) no-repeat scroll -38px -138px transparent;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 0;
}
.sitemap{
    max-width: 1000px;
    margin: 75px auto 0;
    text-align: center;
}
.sitemap dl{
    width: 24%;
    text-align: center;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    min-height: 280px;
    float: left;
}
.sitemap a{
    color: black
}
.sitemap dl a{
    line-height: 20px;
}
.sitemap dl dt{
    margin-bottom: 20px;
}
.sitemap dl dt a {
    font-size: 16px;
    font-weight: bold;
}
.sitemap dl dd a{
    font-size: 14px;
    font-family: SimHei;
}
.sitemap dd .mgb20{
    margin-bottom: 20px;
}
.footer-wrapper{
    width: 100%;
    position: relative;
    background-color: #000;
    color: #FFF;
}
.footer{
    height: 185px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    text-align: center;
    font-size: 12px;
}
.footer a{
    color: white;
}
.footer ul{
    line-height: 30px;
    padding: 18px 0;
    width: auto;
    margin-bottom: 86px;
}
.footer ul li{
    display: inline-block;
    zoom: 1;
    margin: 0 10px;
    cursor: pointer;
}
.footer-logo{
    width: 55px;
    height: 50px;
    position: absolute;
    background: url(https://image.converse.com.cn/images/commons/header-footer-new2.png)
    no-repeat 0 0 transparent;
    background-size: 100%;
    left: 50%;
    margin: 15px 0 0 -30px;
    top: 22%;
    cursor: pointer;
}
.footer-bottom{
    bottom: 40px;
    display: block;
    margin: 12px auto;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
}
.footer-bottom img{
    vertical-align: middle;
    margin-right: 4px;
    display: inline-block;
}
.tip-for-frand{
    display: block;
    text-align: center;
}
.tip-for-frand a{
    display: block;
    position: relative;
    overflow: inherit;
    color: #fff;
}
.tip-for-frand a img{
    display: block;
    width: 60px;
    margin: 0 auto;
    cursor: pointer;
}
.livechat{
    position: absolute;
    right: 0;
    top: 200px;
    z-index: 100000000000;
    transition: top 1s;
    cursor: pointer;
}
.livechat img{
    width: 100%;
    height: 100%;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}